**__pycache__/
**.DS_Store
build/
rholearn.egg-info

*.out
*.sh

example/rholearn-aims-tutorial/part-1-dft/data
example/rholearn-aims-tutorial/part-2-ml/checkpoint
example/rholearn-aims-tutorial/part-2-ml/evaluation
example/rholearn-aims-tutorial/part-2-ml/logs

tests/rholearn/generate_example_data/*/data
tests/rholearn/generate_example_data/*/processed_data
