**__pycache__/
**.DS_Store
**.tox/
**.pytest_cache/
build/
rholearn.egg-info

*.out
*.sh

example/*-aims-tutorial/part-1-dft/data
example/*-aims-tutorial/part-2-ml/checkpoint
example/*-aims-tutorial/part-2-ml/evaluation
example/*-aims-tutorial/part-2-ml/outputs

tests/rholearn/generate_example_data/*/data
tests/rholearn/generate_example_data/*/processed_data
